Android Open Source Project
BraveSoftware/Brave-Browser
Code
Google
Hyper
JetBrains
Postman
Smart Code ltd
autostart
cef_user_data/WidevineCdm
configstore
dconf
dlv
enchant
evolution/sources
flutter
gedit
gh
github-copilot
gnome-control-center/backgrounds
go/telemetry/local
gpick
gtk-3.0
gtk-4.0
htop
i3
ibus/bus
lazygit
nautilus
neofetch
obsidian
pulse
yelp
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
warp-terminal
remmina
Softdeluxe
google-chrome/NativeMessagingHosts
ffuf/autocalibration
ffuf/history
